.board{
    display: grid;
    grid-template-columns:repeat(4,1fr);
    grid-template-rows:repeat(4,1fr);
    grid-gap:5px;
    width:400px;
    height:400px;

}
.board-row{
    margin-bottom:10px;
}
